################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/todolist_api/obj
/todolist_UI/.vs/todolist_UI
/todolist_UI/todolist_UI/obj
/todolist_api/bin
